*{
    box-sizing: border-box;
}

body{
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    overflow: hidden;
}
.container {
    background-image: url(./img/pelouse2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 323px;
    width: 768px;
    position: absolute;
}

.container *{
    position: relative;
    z-index: 1;
}

.container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
.stade {
    border: 1px solid white;
    height: 323px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.bas{
    display: flex;
    position: absolute;
    bottom: 26px;
}

.droite{
    position: absolute;
    right: 0;

    display: flex   ;
}
/* .haut{
    display: block;
    top: 0;
    
        
} */
.haut{
    display: block;
    position: absolute;
    top: 0;
}
.haut .tribune {
    display: flex;
    padding:10px ;
}
.haut .tribune0{
    transform: translate(0, 5px);
}
.haut .tribune1{
    transform: translate(80px, 0);
}
.haut .tribune2{
    transform: translate(170px, 0);
}
/* .tribune:nth-child(1){
    width: 12px;
} */
.haut .chaise {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 27px;
    border: 1px solid;
    padding: 7px;
    font-size: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 3px;
}

 /* Gauche */
 .gauche .tribune {
    display: flex;
    padding:10px ;
}
.gauche{
    left: 0;
    display: block;
    transform: rotate(270deg);
   
}
.gauche .tribune {
    display: flex;
    padding: 10px;
    /* transform: translate(10px, -525px); */
}
.gauche .tribune0 {
    transform: translate(4px, -535px);
}

.gauche .tribune1{
    transform: translate(35px, -540px);
}
.gauche .tribune2{
    transform: translate(70px, -535px);
}
.gauche .tribune3{
    transform: translate(95px, -535px);
}
.gauche .tribune4{
    transform: translate(130px, -530px);
}

.gauche .chaise {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 27px;
    border: 1px solid;
    padding: 7px;
    font-size: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 3px;
}

/* Droite */
.droite .tribune {
    display: flex;
    padding:10px ;
}
.droite{
    left: 0;
    display: block;
    transform: rotate(91deg);
   
}
.droite .tribune {
    display: flex;
    padding: 10px;
    /* transform: translate(10px, -525px); */
}
.droite .tribune0 {
    
    transform: translate(350px, -518px);
}

.droite .tribune1{
    transform: translate(375px, -530px);
}
.droite .tribune2{
    transform: translate(420px, -530px);
}
.droite .tribune3{
    transform: translate(450px, -530px);
}
.droite .tribune4{
    transform: translate(48 0px, -530px);
}

.droite .chaise {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 27px;
    border: 1px solid;
    padding: 7px;
    font-size: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 3px;
}



 
 


















































.coins{
    display: flex;
    position: absolute;
}
/* .coin1 {
    border-right: 2px solid;
    top: -89px;
    position: absolute;
    height: 280px;
    transform: rotate(139deg);
    margin-left: -940px;
} */
.coin1 {
    border-right: 2px solid;
    top: 0px;
    position: absolute;
    height: 250px;
    transform: rotate(238deg);
    margin-top: 98px;
    margin-left: -483px;
}
.coin2 {
    border-left: 2px solid;
    top: 0;
    position: absolute;
    height: 300px;
    transform: rotate(122deg);
    margin-top: -375px;
    margin-left: -489px;
}
.coin3 {
    float: right;
    border-right: 2px solid;
    top: 0px;
    position: absolute;
    height: 275px;
    transform: rotate(58deg);
    margin-top: -355px;
    left: 475px;
}
.coin4 {
    float: right;
    border-right: 2px solid;
    top: 0px;
    position: absolute;
    height: 280px;
    transform: rotate(122deg);
    margin-top: 83px;
    margin-left: 480px;
}
/* .coin1 {
    border-right: 2px solid;
    top: -89px;
    position: absolute;
    height: 280px;
    transform: rotate(139deg);
    margin-left: -940px;
}
.coin2 {
    border-left: 2px solid;
    /* top: -23px; 
    display: flex;
    height: 269px;
    transform: rotate(46deg);
    margin-left: -902px;
    margin-top: 452px;
} */